<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RPS: Users</title>
</head>
<body>
<h1>RPS Users</h1>
<table>
    <tr>
        <td>User ID</td>
        <td>User Name</td>
        <td>Password</td>
        <td>Total Wins</td>
    </tr>
    <tr th:each="user: ${users}">
        <td th:text="${user.userId}">UserId</td>
        <td th:text="${user.userName}">UserName</td>
        <td th:text="${user.password}">Password</td>
        <td th:text="${user.totalGames}">TotalGames</td>
    </tr>
</table>
</body>
</html>